*{box-sizing: border-box;}

.wrapper > * {
  background-color: #FFFFFF;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
  font-size: 3rem;
}

/* Mobile first*/

.wrapper{
  max-width: inherit;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  grid-template-areas:
  "header"
  "nav"
  "content"
  "footer"
  "ad"
}


body{
  background-color: #FFFFFF;
}



.item{
  flex-grow: 1;
}

ul{
  list-style: none;
  color: #e8b7b7;
  align-items: center;
  font-family: ;
  justify-content: space-between;
}

a{
  color: #FFFFFF;
  align-items: center;
  font-family: ;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  text-decoration: none;
}

a:hover{
  background-color: #D6A7A7;
}
.header{
  grid-area: header;
  background-color: #e8b7b7;
  color: #FFFFFF;
  font-size: 2rem;
}

.nav {
  grid-area: nav;
  background-color: #e8b7b7;
}

.navigation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #e8b7b7;
  height: 30px;
  width: 100%;
  padding: 2;
  margin: 0;
  font-size: 2rem;
}

/* Billede*/
.logo {
  height: 15rem;
  width: auto;
  margin-left: 20%;
  margin-right: 20%;
}

.content {
  grid-area: content;
  background-color: #FFFFFF;
  line-height: 1.5rem;
  font-size: 1rem;
}
p{
  font-family: bold;
}

/* Billede */
.selvportraet{
  height: 10rem;
  width:auto;
  float: right;
}

.footer{
  grid-area: footer;
  background-color: #e8b7b7;
  color: #FFFFFF;
  font-size: 1rem;
}

/* Ipad version */

@media (min-width: 400px) {
  .wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "header nav"
    "content content"
    "content content"
    "footer footer"
  }
}

body{
  background-color: #FFFFFF;
}

.item{
  flex-grow: 1;
}

ul{
  list-style: none;
  color: #e8b7b7;
  align-items: center;
  font-family: ;
  justify-content: space-between;
}

a{
  color: #FFFFFF;
  align-items: center;
  font-family: ;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  text-decoration: none;
}

a:hover{
  background-color: #D6A7A7;
}
.header{
  grid-area: header;
  background-color: #e8b7b7;
  color: #FFFFFF;
  font-size: 2rem;
}

.nav {
  grid-area: nav;
  background-color: #e8b7b7;
}

.navigation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #e8b7b7;
  height: 30px;
  width: 100%;
  padding: 2;
  margin: 0;
  font-size: 2rem;
}

/* Billede*/
.logo {
  height: 15rem;
  width: auto;
  margin-left: 20%;
  margin-right: 20%;
}

.content {
  grid-area: content;
  background-color: #FFFFFF;
  line-height: 1.5rem;
  font-size: 1rem;
}
p{
  font-family: bold;
}

/* Billede */
.selvportraet{
  height: 10rem;
  width:auto;
  float: right;
}


.footer{
  grid-area: footer;
  background-color: #e8b7b7;
  color: #FFFFFF;
  font-size: 1rem;
}



/* Web version*/

@media (min-width: 800px) {
  .wrapper{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "header nav nav"
    "content content content"
    "content content content"
    "footer footer footer"
  }

}
